.sessions-chart {
  background-color: #E60000;
  border-radius: 5px;
  padding: 20px;
  color: white;
}

.sessions-chart h2 {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.custom-tooltip {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  text-align: center;
}

.custom-tooltip p {
  margin: 0;
}