.sidebar {
  width: 100px;
  background-color: #020203;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-icons img {
  width: 30px;
}

.sidebar p {
  font-size: 12px;
  text-align: center;
}